@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(96, 96, 96);
}

main {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 30px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 0px;
    background-color:green;
    color:white;
    font-size:17px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 3px rgb(153, 249, 153);
    padding: 16px;
}

a:hover {
    color: rgb(212, 114, 15);
}

a {
    text-decoration: none;
}

.tacos {
    color:rgb(153, 249, 153);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items:center;
    gap: 50px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end:2;
}

.item2 {
    grid-column-start: 2;
    grid-column-end:3;
}

.item3 {
    grid-column-start: 3;
    grid-column-end:4;
}

.item4 {
    grid-column-start: 4;
    grid-column-end:5;
}

.item5 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
}

h1 {
    color:rgba(33, 194, 25, 0.861);
}

h2 {
    color:rgb(241, 217, 180);
}

.rating {
    color:yellow;
}

header {
    background-color:salmon;
}

.nav {
    color:rgba(255, 255, 255, 0.963);
}

.nav:hover {
    color:darkgreen;
}

tr:nth-child(even) {
    background-color: green;
}

.tacos-text {
    color:whitesmoke;
}
